<div class="container">
  <h1 class="title">Sign-up</h1>
  <hr/>
  
  <div class="row">
    <div class="col-sm-6">
      <form role="form" id="signup" ng-submit="signup(credentials)">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="text" ng-model="credentials.email" id="email">
        </div>
        <div class="form-group">
          <label for="password"></label>
          <input class="form-control" type="password" ng-model="credentials.password" id="password"/>
        </div>
        <div>
          <input type="submit" class="btn btn-success" value="Sign-up">
        </div>
      </form>
      <hr/>
      Already have an account?
      <a href="#/login">Login</a>
    </div>
  </div>
</div>