<div class="container">
  <h1 class="title">Episode Guide <small>- Manage Folders</small></h1>
  <!--<hr>-->
  <br>

  <h3 class="subhead">Existing Folders</h3>
  <ul>
    <li ng-repeat="folder in folders">
      {{folder.name}}
    </li>
  </ul>
  <!--<hr>-->

  <div class="row">
    <div class="col-sm-5">
      <h3 class="subhead">Add New Folder</h3>
      <!--<h2 class="panel-title">Add New Folder</h2>-->
      <form role="form" id="addFolder" ng-submit="addFolder(folderInfo)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name" ng-model="folderInfo.name">
        </div>
        <div class="form-group">
          <label for="path">Path</label>
          <input type="text" class="form-control" name="path" id="path" ng-model="folderInfo.path">
        </div>
        <div class="form-group">
          <label for="id">Id</label>
          <input type="text" class="form-control" name="id" id="id" ng-model="folderInfo.id">
        </div>

        <!--<input type="submit" class="btn btn-success">-->
        <input type="submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>